<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <configSections>
    <section name="secureAppSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <!--
  Rumeysa
  -->
  <!--<secureAppSettings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAALr6Eb8/+BESMbWL+kNxOZQQAAAACAAAAAAAQZgAAAAEAACAAAABjU1vVDKkOYVGy/TpWxhnlhpyT4lYYzTHkbYl9RRPuFgAAAAAOgAAAAAIAACAAAADjmv4W1PkOH5PjbdVfxhQLY1OzOQWRXNz4Wt5WtmOw6MAAAABk2QLYdcOt1/QSTvUGsWVCmFGkWOEAvaQtJnOQcZu0lAlxZYYEsu1WifS7Bq+xEBzdjm5e8ZupNzIhbPWdedWH6tQp+3ZvK61MaXHqUOpwEaBr8IhEz2EqpqV3f2mQP7MuC9E1uxCSxmahPRkXCrMIcnpoe7+jJNw6cWSHul2zvvjmZNdNAWVJWsVpfK0Jp9MALqwAFDbwNZZMN95gGDamrv7wVfbbvsDy6h8GOZJ4eoL81DDFj0dFIjUv5oDKDBlAAAAAVtIOdQWEXFqo0WkXw4xYFcaRkVWiyFZK/nQgvTJOqjeJ/HiyctqenRgujuMz+IJ98N5CGvpBDtK+MCE1+l1GbA==</CipherValue>
      </CipherData>
    </EncryptedData>
  </secureAppSettings>-->


  <!--
  Burak
  -->
  <secureAppSettings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAk8P1rx8NEUSv7ApNkzmG4wQAAAACAAAAAAAQZgAAAAEAACAAAAB7eYosRJGti+AZeiXKPChwezn5M4/ji/dvm5r6ewLGVwAAAAAOgAAAAAIAACAAAAA8d613mHmAmn5S8tvxfpZlO43iCIdwCGkZnuOBGfA7ncAAAAAA72RIUXCIdKpKKt2LwxEyI9jmI+cuIJveQk2DEoeGjOqCK9xvI5VnGKCdC/auqh6WhtZCiu162uzFot3cCxkFNfbJPReW64vmtSO9haTv4/UwD0iuLUXhROZF3TdnDd1VHMfilgAZh+f4ZeXNcPJ1xLm20MJJZIrXTxnahV79wSR4sE9lkPe4DcGwWzvlyoay5ai6OFnPRt83uvb38WlHrp4W+XeSKt6rUZGAP8+b7eAd/wPzUpZXb01+a/waA+NAAAAAd4sZFE46aocmLboCXvuTQCLYq39BGbY+7W4luX0ElhrsyVMg0Jv1IeMI7DzpS3ohut8/FKBCoMz8IEaSyFioDg==</CipherValue>
      </CipherData>
    </EncryptedData>
  </secureAppSettings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="BaglantiSunucuIp" value="localhost" />
    <add key="BaglantiKullaniciAdi" value="postgres" />
    <add key="ServisUserName" value="MYILMAZ" />
    <add key="ServisPassWord" value="Antalya.02" />
    <add key="BaglantiDatabase" value="yedekmalzeme" />

  </appSettings>




  <system.web>

    <authentication mode="Forms">
      <forms loginUrl="login.aspx"></forms>

    </authentication>

    <roleManager defaultProvider="userRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="userRoleProvider" type="YedekMalzeme.Arayuz.Modal.UserRoleProvider" />
      </providers>

    </roleManager>


    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />

    <customErrors mode="On" redirectMode="ResponseRewrite">
      <error statusCode="403" redirect="~/error/Forbidden.aspx" />
      <error statusCode="404" redirect="~/error/PageNotFound.aspx" />
      <error statusCode="500" redirect="~/error/InternalError.aspx" />
    </customErrors>

  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>



  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="ZRFID">
          <mtomMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            messageVersion="Soap11WSAddressing10" maxBufferSize="2147483647">
            <readerQuotas maxDepth="10000000" maxStringContentLength="10000000"
              maxArrayLength="67108864" maxBytesPerRead="65536" maxNameTableCharCount="100000" />
          </mtomMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" authenticationScheme="Basic"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="ZRFID_SOAP12">
          <mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap11" maxBufferSize="2147483647" writeEncoding="utf-8">
            <readerQuotas maxDepth="10000000" maxStringContentLength="10000000"
              maxArrayLength="67108864" maxBytesPerRead="65536" maxNameTableCharCount="100000" />
          </mtomMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" authenticationScheme="Basic"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="ZRFID1">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
          <!--    <wsdl:binding name='ZRFID'>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
        <binding name="ZRFID_SOAP121">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
          <!--    <wsdl:binding name='ZRFID_SOAP12'>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
          <mtomMessageEncoding />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://sapdvsrv.abdiibrahim.com.tr:8004/sap/bc/srt/rfc/sap/zrfid/100/zrfid/zrfid"
        binding="customBinding" bindingConfiguration="ZRFID" contract="ServiceReference1.ZRFID"
        name="ZRFID" />
      <endpoint address="http://sapdvsrv.abdiibrahim.com.tr:8004/sap/bc/srt/rfc/sap/zrfid/100/zrfid/zrfid"
        binding="customBinding" bindingConfiguration="ZRFID_SOAP12"
        contract="ServiceReference1.ZRFID" name="ZRFID_SOAP12" />
      <endpoint address="http://sapdvsrv.abdiibrahim.com.tr:8004/sap/bc/srt/rfc/sap/zrfid/100/zrfid/zrfid"
        binding="customBinding" bindingConfiguration="ZRFID1" contract="ServiceReference2.ZRFID"
        name="ZRFID1" />
      <endpoint address="http://sapdvsrv.abdiibrahim.com.tr:8004/sap/bc/srt/rfc/sap/zrfid/100/zrfid/zrfid"
        binding="customBinding" bindingConfiguration="ZRFID_SOAP121"
        contract="ServiceReference2.ZRFID" name="ZRFID_SOAP121" />
    </client>
  </system.serviceModel>
</configuration>
