<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="secureAppSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />   
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="BaglantiSunucuIp" value="localhost" />
    <add key="BaglantiKullaniciAdi" value="postgres" />
    <add key="ServisUserName" value="MYILMAZ" />
    <add key="ServisPassWord" value="Antalya.01" />
    <add key="BaglantiKullaniciAdi" value="postgres" />
  
    <add key="BaglantiDatabase" value="yedekmalzeme" />
  </appSettings>

  <secureAppSettings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAALr6Eb8/+BESMbWL+kNxOZQQAAAACAAAAAAAQZgAAAAEAACAAAABjU1vVDKkOYVGy/TpWxhnlhpyT4lYYzTHkbYl9RRPuFgAAAAAOgAAAAAIAACAAAADjmv4W1PkOH5PjbdVfxhQLY1OzOQWRXNz4Wt5WtmOw6MAAAABk2QLYdcOt1/QSTvUGsWVCmFGkWOEAvaQtJnOQcZu0lAlxZYYEsu1WifS7Bq+xEBzdjm5e8ZupNzIhbPWdedWH6tQp+3ZvK61MaXHqUOpwEaBr8IhEz2EqpqV3f2mQP7MuC9E1uxCSxmahPRkXCrMIcnpoe7+jJNw6cWSHul2zvvjmZNdNAWVJWsVpfK0Jp9MALqwAFDbwNZZMN95gGDamrv7wVfbbvsDy6h8GOZJ4eoL81DDFj0dFIjUv5oDKDBlAAAAAVtIOdQWEXFqo0WkXw4xYFcaRkVWiyFZK/nQgvTJOqjeJ/HiyctqenRgujuMz+IJ98N5CGvpBDtK+MCE1+l1GbA==</CipherValue>
      </CipherData>
    </EncryptedData>
  </secureAppSettings>




  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="ZRFID">
          <mtomMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            messageVersion="Soap11WSAddressing10" maxBufferSize="2147483647">
            <readerQuotas maxDepth="10000000" maxStringContentLength="10000000"
              maxArrayLength="67108864" maxBytesPerRead="65536" maxNameTableCharCount="100000" />
          </mtomMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" authenticationScheme="Basic"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="ZRFID_SOAP12">
          <mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
            messageVersion="Soap11" maxBufferSize="2147483647" writeEncoding="utf-8">
            <readerQuotas maxDepth="10000000" maxStringContentLength="10000000"
              maxArrayLength="67108864" maxBytesPerRead="65536" maxNameTableCharCount="100000" />
          </mtomMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" authenticationScheme="Basic"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="ZRFID1">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
        <binding name="ZRFID_SOAP121">
          <mtomMessageEncoding />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
        <binding name="ZRFID2">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
          <!--    <wsdl:binding name='ZRFID'>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
        <binding name="ZRFID_SOAP122">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
          <!--    <wsdl:binding name='ZRFID_SOAP12'>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
          <mtomMessageEncoding />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://sapdvsrv.abdiibrahim.com.tr:8004/sap/bc/srt/rfc/sap/zrfid/100/zrfid/zrfid"
        binding="customBinding" bindingConfiguration="ZRFID" contract="ServiceReference1.ZRFID"
        name="ZRFID" />
      <endpoint address="http://sapdvsrv.abdiibrahim.com.tr:8004/sap/bc/srt/rfc/sap/zrfid/100/zrfid/zrfid"
        binding="customBinding" bindingConfiguration="ZRFID_SOAP12"
        contract="ServiceReference1.ZRFID" name="ZRFID_SOAP12" />
      <endpoint address="http://SAPPDSRV.abdiibrahim.com.tr:8000/sap/bc/srt/rfc/sap/zrfid/500/zrfid/zrfid"
        binding="customBinding" bindingConfiguration="ZRFID1" contract="ServiceReference9.ZRFID"
        name="ZRFID1" />
      <endpoint address="http://SAPPDSRV.abdiibrahim.com.tr:8000/sap/bc/srt/rfc/sap/zrfid/500/zrfid/zrfid"
        binding="customBinding" bindingConfiguration="ZRFID_SOAP121"
        contract="ServiceReference9.ZRFID" name="ZRFID_SOAP121" />
      <endpoint address="http://SAPPDSRV.abdiibrahim.com.tr:8000/sap/bc/srt/rfc/sap/zrfid/500/zrfid/zrfid"
        binding="customBinding" bindingConfiguration="ZRFID2" contract="ServiceReference10.ZRFID"
        name="ZRFID2" />
      <endpoint address="http://SAPPDSRV.abdiibrahim.com.tr:8000/sap/bc/srt/rfc/sap/zrfid/500/zrfid/zrfid"
        binding="customBinding" bindingConfiguration="ZRFID_SOAP122"
        contract="ServiceReference10.ZRFID" name="ZRFID_SOAP122" />
    </client>
  </system.serviceModel>
  
</configuration>