<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="secureAppSettings" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />    
  </configSections>


  <log4net debug="true" threshold="ON">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\LogDosyasi\\YedekMalzeme\\AcikPmSiparis.log" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <preserveLogFileNameExtension value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%date{dd-MM-yyyy HH:mm:ss.fff} %-5level [%class:%line]  %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>

  <appSettings>

    <add key="AcikPmSiparisiSuresi" value="45" />
    <add key="MalzemeListesiBeklemeSuresi" value="45" />
    <add key="MalzemeStokListesiBeklemeSuresi" value="55" />
    <add key="MalzemeBelgeListesiBeklemeSuresi" value="45" />
    <add key="BaglantiSunucuIp" value="localhost" />
    <add key="ServisUserName" value="MYILMAZ" />
    <add key="ServisPassWord" value="Antalya.02" />
    <add key="BaglantiKullaniciAdi" value="postgres" />
    <add key="BaglantiDatabase" value="yedekmalzeme" />

  </appSettings>

  <secureAppSettings>
    <add key="BaglantiSifre" value="aniventi123" />
  </secureAppSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>

        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>
  </runtime>
  
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="ZRFID">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
          <!--    <wsdl:binding name='ZRFID'>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->

          <mtomMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647" messageVersion="Soap11WSAddressing10" maxBufferSize="2147483647">
            <readerQuotas maxDepth="10000000" maxStringContentLength="10000000" maxArrayLength="67108864" maxBytesPerRead="65536" maxNameTableCharCount="100000" />
          </mtomMessageEncoding>

          <httpTransport maxReceivedMessageSize="2147483647" authenticationScheme="Basic" maxBufferSize="2147483647" />
        </binding>
        <binding name="ZRFID_SOAP12">
          <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:soap:functions:mc-style':    -->
          <!--    <wsdl:binding name='ZRFID_SOAP12'>    -->
          <!--        <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/">..</saptrnbnd:OptimizedXMLTransfer>    -->
          <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
          <mtomMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap11" maxBufferSize="2147483647" writeEncoding="utf-8">
            <readerQuotas maxDepth="10000000" maxStringContentLength="10000000" maxArrayLength="67108864" maxBytesPerRead="65536" maxNameTableCharCount="100000" />
          </mtomMessageEncoding>
          <httpTransport maxReceivedMessageSize="2147483647" authenticationScheme="Basic" maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://sapdvsrv.abdiibrahim.com.tr:8004/sap/bc/srt/rfc/sap/zrfid/100/zrfid/zrfid" binding="customBinding" bindingConfiguration="ZRFID" contract="ServiceReference1.ZRFID" name="ZRFID" />
      <endpoint address="http://sapdvsrv.abdiibrahim.com.tr:8004/sap/bc/srt/rfc/sap/zrfid/100/zrfid/zrfid" binding="customBinding" bindingConfiguration="ZRFID_SOAP12" contract="ServiceReference1.ZRFID" name="ZRFID_SOAP12" />
    </client>
  </system.serviceModel>
  
</configuration>